[Desktop Entry]
Name=SpeedScan
Comment=Otimizador de Sistema
Exec=python3 /home/ewerton/speedscan/speedscan_app.py
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;Settings;
