[Desktop Entry]
Name=SpeedScan
Comment=Otimizador Global de Sistema
Exec=konsole --hold -e speedscan
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;Settings;